.main_body {
    margin: 0, 10%, 0, 10%;
}

.p-field {
    width: 75vw;
}

@media screen and (min-width: 480px) {
    .p-field {
        width: 60vw;
    }
}

@media screen and (min-width: 992px) {
    .p-field {
        width: 40vw;
    }
}

@media screen and (min-width: 768px) {
    .p-field {
        width: 45vw;
    }
}