

.socials_links {
    display: flex;
    justify-content: center;
}

.socials_links a, .reactLogo {
    height: 30px;
    width: auto;
}

.footer {
    /* margin: 0 10% 0 10%; */
    background-color: blue;
}