.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #000000, #FFCA06);
    color: #ffffff; /* Set text color to white for better contrast */
    font-family: 'Baloo Chettan 2', cursive; /* Choose a suitable font for your text */
}

.header div {
    background-color: transparent;
}

.kurt_picture {
    display: flex;
    width: auto;
    height: 80%;
}

.kurt_picture img {
    height: 80%;
    width: auto;
}

.navbar {
    display: flex;
    width: 60%;
}

.navbar nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a {
    display: flex;
    margin: 2px;
    padding: 2px;
}

/* CSS HEX
--lavender-web: #D1D1E9ff;
--yinmn-blue: #405270ff;
--paynes-gray: #4D607Eff;
--raisin-black: #222029ff;
--lavender-web-2: #D8D8EBff;

/* CSS HSL */
/* --lavender-web: hsla(240, 35%, 87%, 1);
--yinmn-blue: hsla(218, 27%, 35%, 1);
--paynes-gray: hsla(217, 24%, 40%, 1);
--raisin-black: hsla(253, 12%, 14%, 1);
--lavender-web-2: hsla(240, 32%, 88%, 1); */

/* SCSS HEX */
/* $lavender-web: #D1D1E9ff;
$yinmn-blue: #405270ff;
$paynes-gray: #4D607Eff;
$raisin-black: #222029ff;
$lavender-web-2: #D8D8EBff; */

/* SCSS HSL */
/* $lavender-web: hsla(240, 35%, 87%, 1);
$yinmn-blue: hsla(218, 27%, 35%, 1);
$paynes-gray: hsla(217, 24%, 40%, 1);
$raisin-black: hsla(253, 12%, 14%, 1);
$lavender-web-2: hsla(240, 32%, 88%, 1); */

/* SCSS RGB */
/* $lavender-web: rgba(209, 209, 233, 1);
$yinmn-blue: rgba(64, 82, 112, 1);
$paynes-gray: rgba(77, 96, 126, 1);
$raisin-black: rgba(34, 32, 41, 1);
$lavender-web-2: rgba(216, 216, 235, 1); */

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-right: linear-gradient(90deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-bottom: linear-gradient(180deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-left: linear-gradient(270deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-top-right: linear-gradient(45deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-bottom-right: linear-gradient(135deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-top-left: linear-gradient(225deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-bottom-left: linear-gradient(315deg, #D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
$gradient-radial: radial-gradient(#D1D1E9ff, #405270ff, #4D607Eff, #222029ff, #D8D8EBff);
*/