.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #000000, #FFCA06);
    color: #ffffff; /* Set text color to white for better contrast */
    font-family: 'Baloo Chettan 2', cursive; /* Choose a suitable font for your text */
}

.header div {
    background-color: transparent;
}

.kurt_picture {
    display: flex;
    width: auto;
    height: 80%;
}

.kurt_picture img {
    height: 80%;
    width: auto;
}

.navbar {
    display: flex;
    width: 60%;
}

.navbar nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a {
    display: flex;
    margin: 2px;
    padding: 2px;
}